<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/pokestyle.css">
  <title>POKENATRA!</title>
</head>
<body>
  <a href="/pokemons/new"> create new Pokemon! </a>
  <%= yield %>
</body>
</html>
